<h1>Contact Us</h1>

<form action="/contact-us" method="POST">

  <label for="firstName">First Name</label>
  <input type="text" id="firstName" name="firstName">


  <label for="lastName">Last Name</label>
  <input type="text" id="lastname" name="lastname">

  <label for="email">Email</label>
  <input type="text" id="email" name="email">

  <label for="message">Message</label>
  <textarea type="text" id="message" name="message"></textarea> <br>

  <input type="submit" value="Contact Us">

</form>